@import "../../../../theme/_palette.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;

  .item-checkbox {
    color: $colorWhite;
    font-size: 1rem;
  
    &-checked {
      color: $colorPrimary;
    }
  }
  
  .item-label {
    color: $colorWhite;
  }
}


