.item {
  &-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &-icon {
    margin-right: 0.5rem;
  }
}
