{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": "edge 13"
            },
            "forceAllTransforms": true
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}