{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "uglify": true
            }
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }

  
}