.container {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  scroll-behavior: auto;
}

.hocr-preview {
  &-page {
    //
  }

  &-background {
    //
  }

  &-image {
    //
  }

  &-placeholders {
    //
  }
}