.container {
  display: block;
  width: 50%;
  height: 500px;
  margin: 0;
  overflow: scroll;
  scroll-behavior: auto;
}

.page {
  //
}

.background {
  fill: none;
}

.image {
  display: block;
}

.placeholders {
  display: block;
}

@mixin default-rect {
  fill: none;
  pointer-events: fill;
}

.area {
  @include default-rect();
}

.par {
  @include default-rect();
}

.line {
  @include default-rect();

  &:hover {
    stroke: #505050;
    stroke-width: 1;
    stroke-dasharray: 10, 10;
  }
}

.word {
  @include default-rect();

  &.highlight {
    fill: yellow;
    opacity: 0.5;
  }

  &:hover {
    fill: #99cfff;
    opacity: 0.5;
    stroke: #007eff;
    stroke-width: 3;
    stroke-dasharray: 0;
  }
}


