@import "./../../../../theme/_breakpoints.scss";

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;

  @include respond-to-desktop {
    margin-left: 6rem;
  }

  .logo {
    flex: 1 1 auto;
    margin: 0 0.5rem;
    max-height: 2.5rem;

    @include respond-to-desktop {
      max-height: 4.5rem;
    }
  }
}
