@mixin default-fill {
  fill: none;
  pointer-events: fill;
}

.area {
  @include default-fill();
}

.par {
  @include default-fill();
}

.line {
  @include default-fill();

  &:hover {
    stroke: #ff6600;
    stroke-width: 1;
    stroke-dasharray: 10, 10;
  }
}

.word {
  @include default-fill();

  &.target {
    fill: yellow;
    opacity: 0.5;
  }

  // TODO
  &.highlight {
    // fill: yellow;
    // opacity: 0.5;
  }

  &:hover {
    fill: #99cfff;
    opacity: 0.5;
    stroke: #007eff;
    stroke-width: 3;
    stroke-dasharray: 0;
  }
}


