$colorWhite: white;
$colorBlack: black;
$colorPrimary: hsl(193, 99%, 57%);
// $colorPrimaryDark: hsl(210, 100%, 20%);
// $colorPrimaryDarker: hsl(202, 38%, 14%);
$colorSecondary: hsl(347, 88%, 34%);
$colorBackground: white;
$colorPaper: hsl(0, 0%, 93%);
$colorGrey: hsl(0, 0%, 70%);

:export {
  colorWhite: $colorWhite;
  colorBlack: $colorBlack;
  colorPrimary: $colorPrimary;
  colorSecondary: $colorSecondary;
  colorBackground: $colorBackground;
  colorPaper: $colorPaper;
  colorGrey: $colorGrey;
}
