.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.vertical-separator {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 1px;
  margin: 0 0.75rem;
  background: gray;
  opacity: 0.5;
}
