@import "../../../../theme/_palette.scss";

.container {
  position: relative;
}

.input {
  color: inherit !important;
}

.underline:before {
  background-color: white; 
}

.dropdown-area {
  position: absolute;
  width: 100%;
  z-index: 1500;
}
