@import "../../../../theme/_palette.scss";

$drawer-max-width: 31rem;
$dock-visible-width: 5rem;

.drawer-dock {
  margin-left: 0;
  color: inherit;
  border-right-width: 0.65rem;
  border-right-color: transparentize($colorGrey, 0.65);
  border-right-style: solid;
}

@mixin drawer-paper {
  padding: 2.5rem;
}

.drawer-paper-mobile {
  @include drawer-paper;

  width: 85vw;
  max-width: $drawer-max-width;
}

.drawer-paper-desktop {
  @include drawer-paper;

  position: static !important;
  width: $drawer-max-width;
  background-color: transparent !important;
  transition: width 0.15s ease-out;

  &-hidden {
    @extend .drawer-paper-desktop;

    width: $dock-visible-width;
    overflow-x: hidden;
  }
}
