$drawer-max-width: 31.5rem;
$dock-visible-width: 5rem;

// Only for desktop.
.drawer-dock {
  margin-left: 0;
  //transition: margin-left 0.15s ease-out;
  color: inherit;
}

@mixin drawer-paper {
  padding: 2.5rem;
  border-right-width: 10px;
  border-right-color:rgba(236, 236, 236, 0.3);
  border-right-style: solid;
}

.drawer-paper-mobile {
  @include drawer-paper;

  width: 85vw;
  max-width: $drawer-max-width;
}

.drawer-paper-desktop {
  @include drawer-paper;

  position: static !important;
  width: $drawer-max-width;
  background-color: transparent !important;
  transition: width 0.15s ease-out;

  &-hidden {
    @extend .drawer-paper-desktop;

    width: $dock-visible-width;
    overflow-x: hidden;
  }
}
