@import "../../../../theme/_mixins.scss";

.container {
  flex: 0 0 auto;
  justify-content: space-between;

  &-closed {
    @extend .container;

    justify-content: center;
  }
}

.caption {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  &-title {
    font-size: 1.05rem;
    margin: 0;
  }

  &-subtitle {
    font-size: 0.85rem;
    margin: 0;
  }
}

.close-icon {
  @include jfk-icon;
}
